<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!--Nevigation-->
  <div class="row">

    <div class="col col-lg-1">

    </div>
    <div class="col-lg-auto">
      <nav class="nav">
        <a class="nav-link active" href="#">Dash</a>
        <a class="nav-link" href="#">Students</a>
        <a class="nav-link" href="#">Lessons</a>
        <a class="nav-link " href="#">Money</a>
        <a class="nav-link " href="#">Resources</a>
      </nav>
    </div>
    <div class="col col-lg-1">
    </div>
  </div>
  <!--Title-->
  <div class="row justify-content-md-center">

    <div class="col col-lg-1">
    </div>
    <div class="col-md-auto">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <div class="col col-lg-1">
    </div>
  </div>
  <!--Circles-->
  <div class="row justify-content-md-center">

    <div class="col col-lg-1">
    </div>
    <div class="col-md-auto">
     
<app-student-img></app-student-img>

    </div>
    <div class="col col-lg-1">
    </div>
  </div>
  <!--Lessons List-->
  <div class="row justify-content-md-center">

    <div class="col col-lg-1">
    </div>
    <div class="col-md-auto">
      <div class="row justify-content-md-center">
        <p class="col-md-auto justify-content-center">Upcoming Lessons</p>
      </div>
 <app-lessons></app-lessons>
    </div>
    <div class="col col-lg-1">

    </div>
  </div>
  <br />
  <br />
  <!--View More-->
  <div class="row">

    <div class="col col-lg-3">
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-lg btn-block">View More</button>
    </div>
    <div class="col col-lg-3">
    </div>
  </div>
  <br />
  <br />
  <!--Template-->
</div>