<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!--Nevigation-->
  <div class="row">

    <div class="col col-lg-2">

    </div>
    <div class="col-lg-auto">
      <nav class="nav">
        <a class="nav-link active" href="#">Dash</a>
        <a class="nav-link" href="#">Students</a>
        <a class="nav-link" href="#">Lessons</a>
        <a class="nav-link " href="#">Money</a>
        <a class="nav-link " href="#">Resources</a>
      </nav>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
  <!--Title-->
  <div class="row justify-content-md-center">

    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
  <!--Circles-->
  <div class="row justify-content-md-center">

    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
          <li class="page-item"> <img src="http://placehold.it/50x50&text=First image" class="rounded-circle border border-warning"
              alt="First image"></li>
        </ul>
      </nav>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
  <!--Lessons List-->
  <div class="row justify-content-md-center">

    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
      <div class="row justify-content-md-center">
        <p class="col-md-auto justify-content-center">Upcoming Lessons</p>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-1">
              4:30
            </div>
            <div class="col-sm-2 font-weight-bold">
              60 mins
            </div>
            <div class="col-sm-8">
              A note on what students need to work on this lesson
            </div>
            <div class="col-sm-1">
              <span class="badge badge-primary badge-pill">1</span>
            </div>
          </div>
        </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col col-lg-2">

    </div>
  </div>
  <br />
  <br />
  <!--View More-->
  <div class="row">

    <div class="col col-lg-3">
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-lg btn-block">View More</button>
    </div>
    <div class="col col-lg-3">
    </div>
  </div>
  <br />
  <br />
  <!--Template-->
  <div class="row">

    <div class="col col-lg-2">
      first
    </div>
    <div class="col-md-auto">
      middle
    </div>
    <div class="col col-lg-2">
      last
    </div>
  </div>
</div>