<ul class="list-group">
  <li *ngFor="let lesson of lessons" class="list-group-item">
    <div class="row">
      <div class="col-sm-1">
        {{lesson.time}}
      </div>
      <div class="col-sm-1 font-weight-bold">
        {{lesson.duration}} MINS
      </div>
      <div class="col-sm-1 ">
        <img src="https://randomuser.me/api/portraits/men/{{lesson.guide.id}}.jpg" width="40" height="40"  class="rounded-circle border border-warning">
      </div>
      <div class="col-sm-8">
        {{lesson.note}}
        <br />
        <span class="col-sm-1 font-weight-light"> {{lesson.type}}</span>
      </div>
      <div class="col-sm-1">
        <span class="badge badge-primary badge-pill">1</span>
      </div>
    </div>
  </li>
</ul>